* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-gradient);

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background-gradient);
   display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2rem;
  color: var(--color-gray);
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}