:root {
    --background-gradient :linear-gradient(135deg, #f0f9ff 0%, #e0f2fe 100%);
    --main-gradient: linear-gradient(135deg, #2c3e50  0%, #4b6d94 100%);
    --color-secondary: #4b6d94;
    --color-secondary-light: #d1ecf1; 
    --color-primary: #2c3e50; 
    --color-hover: #3498db;
    --color-danger: #c0392b;
    --description: #374151;
    --pure-white: #ffffff;
    --footer-gradient:  linear-gradient(45deg, #60a5fa, #a5b4fc);
    --color-white-footer: #a5b4fc;
    --color-blue-footer: #60a5fa;
    --footer-icons: linear-gradient(45deg, #3b82f6, #6366f1);
    --color-black: #333333;
    --color-gray: #7f8c8d;
    --color-green: #27ae60;
    --color-green-dark: #155724;
    --color-green-light: #d4edda;
    --shadow: rgba(231, 76, 60, 0.4);
    --color-danger-dark: #5A0E24;
    --border-white: #f5c6cb;
    --Soft-Rose: #fee;
    --Strong-Blue: #2980b9;
    --color-medium: #f39c12;
    --color-strong: #27ae60;
    --error-msg-border: #f5c6cb;
    --light-gray: #e0e0e0;
    --light-bg: #f8f9fa;
    --selected-bg: #f0f7ff;  
    --disabled-bg: #f5f5f5;
    --disabled-text: #9e9e9e;
    --summary-bg: #f8f9fa;
    --light-rose: #fff5f5; 
    --pinding-status: #856404;
    --pinding-status-border: #fff3cd;
  } 
  